@import '../variable.scss';
@import '../article/articleDisplay.scss';

$cmsRichEditorWidth: 680px;

body {
    background: #fff;
}

// cms-editor 在编辑器、文章浏览页面中都存在的类
.cms-editor {
    width: $cmsRichEditorWidth;
    margin: 0 auto;
    height: 100%;
}

.cms-admin-editor .cms-editor-menubar {
    top: 0;
}

.cms-editor-menubar {
    z-index: 1;
    background: #fff;
    border: none !important;
    position: fixed;
    width: $cmsRichEditorWidth + 15px;
    top: 56px;
    margin-left: -15px;
}

.cms-editor-menubar button {
    width: 42px !important;
    height: 42px !important;
    padding: 0 !important;
    border: none;
    background-color: #fff;
    font-size: 0;
}

.cms-editor-menubar button:hover,
.cms-editor-menubar-active {
    background-color: #f6f7f8 !important;
}

.cms-editor-menubar i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: 50% no-repeat;
    background-size: contain;
}

.cms-editor-icon-bold {
    background-image: url(../../images/editor/rich.bold.png) !important;
}

.cms-editor-icon-italic {
    background-image: url(../../images/editor/rich.italic.png) !important;
}

.cms-editor-icon-underline {
    background-image: url(../../images/editor/rich.underline.png) !important;
}

.cms-editor-icon-h1 {
    background-image: url(../../images/editor/rich.h1.png) !important;
}

.cms-editor-icon-h2 {
    background-image: url(../../images/editor/rich.h2.png) !important;
}

.cms-editor-icon-blockquote {
    background-image: url(../../images/editor/rich.blockquote.png) !important;
}

.cms-editor-icon-codeblock {
    background-image: url(../../images/editor/rich.blockcode.png) !important;
}

.cms-editor-icon-code {
    background-image: url(../../images/editor/rich.code.png) !important;
}

.cms-editor-icon-ol {
    background-image: url(../../images/editor/rich.ol.png) !important;
}

.cms-editor-icon-ul {
    background-image: url(../../images/editor/rich.ul.png) !important;
}

.cms-editor-icon-link {
    background-image: url(../../images/editor/rich.link.png) !important;
}

.cms-editor-icon-image {
    background-image: url(../../images/editor/rich.image.png) !important;
}

.rich-title-input {
    margin: 128px 0 24px 0;
    width: $cmsRichEditorWidth;
    padding: 0;
    border: none;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-weight: 700;
    resize: none;
}

.cms-admin-editor .cms-editor-content {
    margin-top: 40px;
    margin-bottom: 0;
    overflow: auto;
}

.cms-editor-content {
    height: 100%;
    margin-bottom: 100px;
    word-wrap: break-word;
}

.cms-editor-content * {
    caret-color: currentColor;
    outline: none;
}

.cms-editor-content p.is-empty:first-child::before {
    content: attr(data-empty-text);
    float: left;
    color: #aaa;
    pointer-events: none;
    height: 0;
}

.cms-editor-content a {
    cursor: text;
}